<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197093668023-gvb9hrjauh550fpoh88gld7m4fqst87l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197093668023-gvb9hrjauh550fpoh88gld7m4fqst87l</string>
	<key>API_KEY</key>
	<string>AIzaSyDvYfftQMluU1Tk1ubTbHptsqQV6khdBVE</string>
	<key>GCM_SENDER_ID</key>
	<string>197093668023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>delivery.SwiftDelivery</string>
	<key>PROJECT_ID</key>
	<string>sampleproject-4acda</string>
	<key>STORAGE_BUCKET</key>
	<string>sampleproject-4acda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:197093668023:ios:ef5f912acae18aa9</string>
	<key>DATABASE_URL</key>
	<string>https://sampleproject-4acda.firebaseio.com</string>
</dict>
</plist>
